body {
    box-sizing: border-box;
    margin: 0 auto;
}

.c0 {
    border: 2px solid red;
    display: flex;
    flex-flow: row wrap;
    /* flex-flow is a shortcut: 
                            It combines "flex-direction" and "flex-wrap" */
}

.c0>div {
    height: 130px;
    width: 100vw;
}

.c1 {
    background-color: purple;
}

.c2 {
    background-color: blueviolet;
}

.c3 {
    background-color: blue;
}

.c4 {
    background-color: green;
}

.c5 {
    background-color: yellow;
}

.c6 {
    background-color: darkorange;
}

.c7 {
    background-color: red;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .c3,
    .c4,
    .c5 {
        /* background-color: black; */
        flex-basis: 33.33%;
        /* fallback if calc not supported */
        flex-basis: calc(100% / 3);
    }
}

@media screen and (min-width: 1024px) {
    .c1, .c2, .c6, .c7 {
        /* background-color: black; */
        flex-basis: 50%;
    }
    .c3, .c4, .c5 {
        /* background-color: black; */
        flex-basis: 33.33%;
        flex-basis: calc(100% / 3);
    }
}