// font styles
$font-sans-serif-default: Arial, Helvetica, sans-serif;
$font-sans-serif-lucida: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
$font-sans-serif-franklin: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$font-serif-default: 'Times New Roman', Times, serif;
$font-size-medium: 3rem;
